body {
  font-family: "Lato", sans-serif;
  background-color: #343541;

}

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2C2C2F;
  overflow-x: hidden;
  padding-top: 8px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 360px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.new-chat-button {
  background-color: transparent;
  width: 98%;
  border: 1px solid gray;
  border-radius: 3px;
  color: rgb(252, 252, 252);
  padding: 10px 10px ;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  font-size: 14px;
}

.new-chat-button:hover {
  background-color: lightgray;
  color: white;
}

.new-chat-button .plus-sign {
  margin-left: -144px;
  font-size: 18px;
}